* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    display: grid;
    align-items: center;
    height: 100vh;
}

.ad_frame {
    background-color: #000;
    width: 50%;
    margin: auto;
}
.ad_frame_border {
    padding: 1vw 4vw;
}
.ad_frame_border > p {
    text-align: center;
}

/* logo of the frame */

.ad_logo {
    margin-left: 15%;
    position: relative;
}


/* text of the frame */
.frame_text {
    display: grid;
    grid-template-columns: 20% 1fr;
}
.frame_text .content {
    text-align: center;
    line-height: 4em;
}

.frame_text h3 {
    font-weight: bold ;
}
.frame_text span {
    font-weight: bold;
    font-size: 30px;
    text-shadow: -2px 2px 2px rgba(224, 119, 116, 1);}
.frame_text p {
    font-size: 21px;
}


.frame_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: center;
    padding: 3vw 0;
}

.glow {
    font-size: 5em;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -ms-transform: rotate(20deg);
    transform: rotate(-13deg);
    display: block;
    width: 50%;
    position: absolute;
}
.black_underline {
    text-decoration: underline;
    text-decoration-color: #fff;
}
.glow.one {
    top: 0;
    font-family: 'Carter One', cursive;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.glow.one span {
    font-size: 1.2em;
}
.glow.one::after {
    content: '';
    background-color: #fff;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    width: 31%;
    position: absolute;
    height: 6px;
    top: 61%;
    left: 15%;
    border-radius: 10px;
    filter: blur(1px);
}
.glow.two {
    top: 125px;
    font-family: 'Libre Franklin', sans-serif;
    left: 110px;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
    text-transform: uppercase;
}
.glow.three {
    top: 28px;
    right: 345px;
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
    font-size: 4em;
    font-family: 'Libre Franklin', sans-serif;
}

.red-border {
    border: 4px solid rgb(224, 119, 116);
}
.white-border {
    border: 4px outset #fff;
}



.tiles {
    width: 150px;
    height: 150px;
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.tiles p {
    font-size: 20px;
    word-wrap: anywhere;
}
/* CSS ANIMATION */
@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px rgb(0, 0, 0), 0 0 50px rgb(59, 59, 59), 0 0 50px #fff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #303030, 0 0 40px #727272, 0 0 50px #a3a3a3, 0 0 50px #b9b9b9, 0 0 50px #cacaca, 0 0 50px #eeeeee;
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 50px #e60073, 0 0 50px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 50px #ff4da6, 0 0 50px #ff4da6, 0 0 50px #ff4da6;
    }
}
@keyframes glow2 {
    from {
        text-shadow: 0 0 10px #a92826, 0 0 20px #b63735, 0 0 30px #a92826, 0 0 40px #b43432, 0 0 50px rgb(0, 0, 0), 0 0 50px rgb(59, 59, 59), 0 0 50px #a92826;
    }

    to {
        text-shadow: 0 0 20px #a92826, 0 0 30px #a92826, 0 0 40px #a92826, 0 0 50px #a92826, 0 0 50px #a92826, 0 0 50px #a92826, 0 0 50px #a92826;
    }
}

@-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}


/* SVG CSS */
.svg_tile {
    width: 80px;
    height: 80px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.svg_tile.one {
    background-image: url(./ressources/smoked-sausage.svg), url(./ressources/sausage.svg), url(./ressources/11sausages.svg);
}

.svg_tile.two {
    background-image: url(./ressources/grinder.svg);
}

.svg_tile.three {
    background-image: url(./ressources/butcher.svg);
}

.svg_tile.four {
    background-image: url(./ressources/steak-package.svg);
}